body {
  margin-top: 20px;
}
button {
  width: 100%;
  height: 250px;
}
.btn {
  border-radius: 0;
  padding: 0;
}
.btn-default:hover {
  border: 2px solid orange;
  /*transform: rotate(360deg);
  transition: .3s;*/
}
.btn-default:focus, .btn-default:hover {
  background-position: 0;
  outline: none;
}
.col-xs-4 {
  padding: 0;
}
.btn {
  font-size: 12em;
}
.thinkingmessage, .winmessage, .playagain {
  display: none;
}
.easteregg {
  transform: rotate(1080deg);
  transition: 1s;
}
@media (max-width:900px) {
  button {
    height: 200px;
  }
  .btn {
    font-size: 6em;
  }
}
@media (max-width:600px) {
  button {
    height: 100px;
  }
  .btn {
    font-size: 3em;
  }
}
